{% extends 'base/base.html' %}{% load static %}
{% block header %}
<link rel="stylesheet" href='{% static "css/webdev/webdev.css" %}' />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
<title>IA</title>

{% endblock header %}

{% block content %}
<style>
     .menu-bar a{
        color:black
     }
</style>

{% endblock content %}