{% extends 'base/base.html' %}{% load static %}
{% block header %}
<link rel="stylesheet" href='{% static "css/homepage/homepage.css" %}' />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
<title>IA</title>

{% endblock header %}

{% block content %}
<div class="container-1">

    <div class="cross-1">
        <svg width="50px" height="50px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-469.000000, -1041.000000)"
                    fill="grey">
                    <path
                        d="M487.148,1053.48 L492.813,1047.82 C494.376,1046.26 494.376,1043.72 492.813,1042.16 C491.248,1040.59 488.712,1040.59 487.148,1042.16 L481.484,1047.82 L475.82,1042.16 C474.257,1040.59 471.721,1040.59 470.156,1042.16 C468.593,1043.72 468.593,1046.26 470.156,1047.82 L475.82,1053.48 L470.156,1059.15 C468.593,1060.71 468.593,1063.25 470.156,1064.81 C471.721,1066.38 474.257,1066.38 475.82,1064.81 L481.484,1059.15 L487.148,1064.81 C488.712,1066.38 491.248,1066.38 492.813,1064.81 C494.376,1063.25 494.376,1060.71 492.813,1059.15 L487.148,1053.48"
                        id="cross" sketch:type="MSShapeGroup"></path>
                </g>
            </g>
        </svg>
    </div>

    <div class="cross-2">
        <svg width="50px" height="50px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-469.000000, -1041.000000)"
                    fill="grey">
                    <path
                        d="M487.148,1053.48 L492.813,1047.82 C494.376,1046.26 494.376,1043.72 492.813,1042.16 C491.248,1040.59 488.712,1040.59 487.148,1042.16 L481.484,1047.82 L475.82,1042.16 C474.257,1040.59 471.721,1040.59 470.156,1042.16 C468.593,1043.72 468.593,1046.26 470.156,1047.82 L475.82,1053.48 L470.156,1059.15 C468.593,1060.71 468.593,1063.25 470.156,1064.81 C471.721,1066.38 474.257,1066.38 475.82,1064.81 L481.484,1059.15 L487.148,1064.81 C488.712,1066.38 491.248,1066.38 492.813,1064.81 C494.376,1063.25 494.376,1060.71 492.813,1059.15 L487.148,1053.48"
                        id="cross" sketch:type="MSShapeGroup"></path>
                </g>
            </g>
        </svg>
    </div>

    <div class="cross-3">
        <svg width="40px" height="40px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-469.000000, -1041.000000)"
                    fill="grey">
                    <path
                        d="M487.148,1053.48 L492.813,1047.82 C494.376,1046.26 494.376,1043.72 492.813,1042.16 C491.248,1040.59 488.712,1040.59 487.148,1042.16 L481.484,1047.82 L475.82,1042.16 C474.257,1040.59 471.721,1040.59 470.156,1042.16 C468.593,1043.72 468.593,1046.26 470.156,1047.82 L475.82,1053.48 L470.156,1059.15 C468.593,1060.71 468.593,1063.25 470.156,1064.81 C471.721,1066.38 474.257,1066.38 475.82,1064.81 L481.484,1059.15 L487.148,1064.81 C488.712,1066.38 491.248,1066.38 492.813,1064.81 C494.376,1063.25 494.376,1060.71 492.813,1059.15 L487.148,1053.48"
                        id="cross" sketch:type="MSShapeGroup"></path>
                </g>
            </g>
        </svg>
    </div>

    <div class="box-1">
        <svg fill="grey" width="50px" height="50px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,2H4A1,1,0,0,0,3,3V21a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V3A1,1,0,0,0,22,2ZM21,20H5V4H21Z" />
        </svg>
    </div>

    <div class="box-2">
        <svg fill="white" width="50px" height="50px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,2H4A1,1,0,0,0,3,3V21a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V3A1,1,0,0,0,22,2ZM21,20H5V4H21Z" />
        </svg>
    </div>

    <div class="box-3-container">
        <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
            <rect x="50" y="50" width="400" height="400" rx="20" ry="20"
                style="fill:none;stroke:#484a7e83;stroke-width:15;" />
        </svg>

    </div>

    <div class="first-page-words-container">
        <div class="imran-text">
            <h1>IMRAN <br> ABDU</h1>
        </div>
        <div class="introduction-for-first-page">
            <h3>STARTERS |</h3>
            <p>Welcome to my digital space! I'm a dedicated programmer deeply passionate about technology. Explore my
                portfolio to discover the exciting world of tech through my eyes</p>
        </div>
    </div>
</div>

<div class="container-2">
    <center>
        <div class="about-me-container">
            <div class="programming-icons">
                <img src="{% static 'image/icons/code.png' %}" class="programming-icon-for-aboutme" id="icon-1">
                <img src="{% static 'image/icons/java-script.png' %}" class="programming-icon-for-aboutme" id="icon-2">
                <img src="{% static 'image/icons/python.png' %}" class="programming-icon-for-aboutme" id="icon-3">
                <img src="{% static 'image/icons/swift.png' %}" class="programming-icon-for-aboutme" id="icon-4">
                <img src="{% static 'image/icons/visual-basic.png' %}" class="programming-icon-for-aboutme" id="icon-5">
            </div>

            <h1 class="about-me-heading">ABOUT ME-</h1>
            <div class="aboutme-words">
                <p class="about-me">I am Imran Abdu, a dedicated Programmer and Web Developer driven by a profound
                    passion for unraveling complex challenges and making a meaningful difference in the digital realm.
                    With a steadfast commitment to excellence and innovation, I embark on a continuous journey to craft
                    elegant solutions and push the boundaries of what technology can achieve.

                    In the intricate world of programming, I find my purpose in the art of problem-solving. Each
                    challenge encountered is an opportunity to delve deep into the problem space, analyze intricacies,
                    and architect elegant solutions that stand the test of functionality and time. The thrill of
                    decoding intricate puzzles and transforming them into seamless, user-centric experiences fuels my
                    enthusiasm every day.

                    What truly excites me is the prospect of making a tangible impact. I believe in the transformative
                    power of technology to address real-world issues and enhance lives. By leveraging my skills as a
                    programmer and web developer, I aspire to create solutions that not only meet immediate needs but
                    also pave the way for a more interconnected, efficient, and accessible digital future.

                    I am driven by the conviction that every line of code holds the potential to shape the world.
                    Through my work, I endeavor to leave a lasting imprint, one innovative solution at a time.</p>
            </div>
            <hr
                style="border:1px solid rgba(1, 1, 88, 0.829); height: 8px; background-color: rgba(11, 11, 82, 0.856);width:60%;">
        </div>
    </center>
</div>


<div class="my-works-container">
    <h1>MY WORKS-</h1>
    <div class="my-works-container1">
        <div class="aboutus-image">
            <img src="{% static 'image/aboutus.jpg' %}">
        </div>
        <div class="aboutus-text" id="aboutus-text">
            <h1>Web Development</h1>
            <p> As a web developer, I craft digital wonders out of thin air and endless lines of code. I turn caffeine
                into websites, debug nightmares into dreams . It's a bit like being a wizard, but with more coffee and
                fewer wands!</p>
        </div>
    </div>
    <div class="container-for-mywork-projects" id="container-for-mywork-projects">
        <div class="myworks-projects-boxes" id="myworks-projects-boxes">
            <div class="projects-box1" id="project-box1"><img src="{% static 'image/creed.png' %}">
                <div class="inner-works-projects-title">
                    <p class="p-for-projects">- CREED</p>
                    <p>"Creed: Rise to Glory" immerses players in intense boxing matches, offering realistic graphics
                        and gameplay.</p>
                </div>
            </div>
            <div class="projects-box1" id="project-box1"><img src="{% static 'image/creed.png' %}">
                <div class="inner-works-projects-title">
                    <p class="p-for-projects">- CREED</p>
                    <p>"Creed: Rise to Glory" immerses players in intense boxing matches, offering realistic graphics
                        and gameplay.</p>
                </div>
            </div>
            <div class="projects-box1" id="project-box1"><img src="{% static 'image/creed.png' %}">
                <div class="inner-works-projects-title">
                    <p class="p-for-projects">- CREED</p>
                    <p>"Creed: Rise to Glory" immerses players in intense boxing matches, offering realistic graphics
                        and gameplay.</p>
                </div>
            </div>
        </div>
        <h3 class="more-button-on-myworks">MORE ➟</h3>
    </div>
</div>


<div class="container-for-contact">
    <h1>CONTACT ME-</h1>
    <p>DON'T BE A STRANGER</p>
    <div class="let-us-work-together">
        <h1>LET US WORK TOGETHER</h1>
    </div>
    <div class="contact-box-e-p-container">
        <div class="contact-box">EMAIL</div>
        <div class="contact-box">PHONE</div>
    </div>
    <div>

    </div>
</div>

<p style="text-align:center; letter-spacing: 4px; margin:20px;">GOOD BYE</p>






{% endblock %}