.container-1{
    background: radial-gradient(circle at center, #155A93 -10%, #21202C, black);
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
background-repeat: no-repeat;
height: 100vh;
margin: 0;
}
.box-1{
    position:absolute;
    left:10%;
    top:40%;
}
.box-2{
    position:absolute;
    right:10%;
    top:18%;
}

.box-3-container{
    position:absolute;
left: 50%;
bottom:-80%;
transform: translate(-50%, -50%);
overflow:hidden;
}

.cross-1{
    position:absolute;
left:30%;
top:15%;
}

.cross-2{
    position:absolute;
right:20%;
top:70%;
}

.cross-3{
    position:absolute;
left:10%;
top:80%;
}
.imran-text{
    margin-left:10%;
    margin-top:-50px;
    font-family: 'Major Mono Display', monospace;
    color:white;
    font-size: 72px; /* Set the font size */
font-weight: bold; /* Optional: Set the font weight */
color: transparent; /* Make the text transparent */
background-image: url('{% static "image/imran.png" %}'); /* Set the background image */
background-size: cover; /* Cover the entire element with the background image */
background-clip: text; /* Clip the background image to the text */
-webkit-background-clip: text; /* For Safari */
background-position: 20% 15%;
color: transparent; /* Set the text color to transparent */
z-index: 10;
}
.first-page-words-container{
    color:white;
    display: flex;
justify-content: space-around;
}
.introduction-for-first-page{
    margin-top:10%;
    width:30%;
}